<div class="header" ng-controller="HeaderController">
	    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
	        <a class="pure-menu-heading" href="HomePage.html">Tech360</a>

	        <ul class="pure-menu-list">
	            <li class="pure-menu-item"><a href="Projects.html" class="pure-menu-link">Projects</a></li>
	            <li class="pure-menu-item"><a href="COE.html" class="pure-menu-link">COE</a></li>
	            <li class="pure-menu-item"><a href="Trainings.html" class="pure-menu-link">Trainings</a></li> 
	        </ul>
	    </div>
</div>