<div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="#home">Tech360</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#projects" class="pure-menu-link">Projects</a></li>
                <li class="pure-menu-item"><a href="#coe" class="pure-menu-link">COE</a></li>
                <li class="pure-menu-item"><a href="#trainings" class="pure-menu-link">Trainings</a></li> 
            </ul>
        </div>
</div>