<div id="layout" class="pure-g">
    <div class="discussion-container pure-u-1">
    <h2>Discussions Page</h2>
       <div>
            <div class="add-discussion-section pure-u-1 pure-u-md-1-4">
                <textarea ng-model="NewMessage.text" />
                    <input value=" Submit " type="button" ng-click="inserting(NewMessage)"/>
            </div>
            <div class="discussion-list pure-u-1 pure-u-md-1">
                <ul style="list-style: none;">
                    <li ng-repeat="message in messages" class="discussion-item">
                        <div class="discussion-body">
                            {{message.text}}
                        </div>
                        <div style="text-align: right;">
                            <span>--- {{message.user}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>