<div id="layout" class="pure-g">
      
    <div class="discussion-container pure-u-1">
    <h2>Discussions Page</h2>
        <div class="discussion-sidebar pure-u-md-1-5">
            <p>Name : <input type="text" ng-model="newmessage.user"></p>
            <p>Message :<textarea type="text" ng-model="newmessage.text"></textarea></p>
            <button ng-click="inserting(newmessage)">Submit</button>
        </div>
        <div class="discussion-content pure-u-1 pure-u-md-3">
            <h2>Team Discussions</h2>
            <ul>
                <li ng-repeat="message in messages">
                    Name: {{message.user}} - Message:{{message.text}}
                </li>
            </ul>
        </div>
    </div>
</div>