<div class="pure-u-1 pure-u-md-1-6" id="menu">
    <div class="pure-menu">
        <a class="pure-menu-heading" href="">Projects</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item" ng-if="isProject" ng-click="ShowProjectList()"><a href="" class="pure-menu-link">Projects List</a>
               
                <ul ng-show = "IsProjectVisible" class="projects-list">
                     <li ng-repeat="projectItem in Projects"> <a ng-href="#/projects/"></a></li>
                </ul>
            </li>
            <li class="pure-menu-item" ng-if="isPractise"><a href="" class="pure-menu-link">Practise List</a>
               
                <ul ng-show = "IsPractiseVisible" class="projects-list">
                     <li ng-repeat="projectItem in Projects"> <a ng-href="#/projects/"></a></li>
                </ul>
            </li>
            <li class="pure-menu-item"><a href="#/projects/documents" class="pure-menu-link">Documents</a>
            </li>
            <li class="pure-menu-item"><a href="#/projects/discussions" class="pure-menu-link">Discussions</a></li>
            <li class="pure-menu-item"><a href="#/projects/blogs" class="pure-menu-link">Blogs</a>
               
            </li>
        </ul>
    </div>
</div>